applications/
code.python/src/__pycache__/

code.node/**/dist/
code.node/**/node_modules/
code.node/**/*.tsbuildinfo
code.node/**/package-lock.json
code.node/react-ts/.parcel-cache/

.vscode/
.ipynb_checkpoints/