.vscode/
applications/

code.python/poetry.lock
code.python/src/__pycache__/

code.node/**/dist/
code.node/**/node_modules/
code.node/**/.parcel-cache/
code.node/**/package-lock.json

code.node/**/dbschema/migrations/
optimum/database/dbschema/migrations/
