applications/
code.python/src/__pycache__/

code.node/**/dist/
code.node/**/node_modules/
code.node/**/*.tsbuildinfo
code.node/**/.parcel-cache/
code.node/**/package-lock.json

.vscode/
.ipynb_checkpoints/